{% extends 'base.html.twig' %}
{% block title %}Login - DevBuddy's{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/connexion.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <main class="form-signin w-100 m-auto text-center">
        <form method="post">
            <img class="mb-2" src="{{ asset('assets/images/Logo.png') }}" alt="Logo"height="150">
            <h1 class="mb-3">Login</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté avec {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}
            <div class="form-floating">
                {# <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> #}
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                    autocomplete="email" required autofocus>
                <label for="floatingInput">Email Address</label>
            </div>
            <div class="form-floating">
                {# <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> #}
                <input type="password" name="password" id="inputPassword" class="form-control"
                    autocomplete="current-password" required>
                <label for="floatingPassword">Password</label>
            </div>
            {# <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div> #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="w-100 btn btn-lg btn-adiate" type="submit">Sign In</button>
            <p class="mt-2 text-muted">You are not registred yet ? <br> Sign Up <a href="{{path('app_register')}}">here</a> or <a href="{{path('app_home')}}">Back to website</a></p>
            {# <p class="mt-5 mb-3 text-muted">© 2017–2022</p> #}
        </form>
    </main>
    {# <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
            autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
            required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}
        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}
        {# <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form> #}
{% endblock %}