{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block stylesheets %}
        <link href="{{ asset('assets/css/connexion.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <main class="form-signup w-100 m-auto text-center">
        {# <img src="{{ asset('assets/image/adiate_logo.svg') }}" alt="" width="200" height="150"> #}
        <h1 class="mb-4">Register</h1>
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        {{ form_start(registrationForm) }}
            {# {{ form_label(registrationForm.nom) }}<br> #}
            {# {{ form_widget(registrationForm.nom) }}<br> #}
            {# {{ form_label(registrationForm.prenom) }}<br> #}
            {{ form_widget(registrationForm.username) }}<br>
            {# {{ form_label(registrationForm.email) }}<br> #}
            {{ form_widget(registrationForm.email) }}<br>
            {# {{ form_label(registrationForm.plainPassword) }}<br> #}
            {{ form_widget(registrationForm.plainPassword.first) }}<br>
            {{ form_widget(registrationForm.plainPassword.second) }}
            {# {{ form_widget(registrationForm.captcha) }} #}
            <div class="checkbox my-3">
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_label(registrationForm.agreeTerms) }}
            </div>    
            <button type="submit" class="w-100 btn btn-lg btn-adiate">Sing Up</button>
            <p class="mt-2 text-muted">You already have an account ? <br> Sign In <a href="{{path('app_login')}}">here</a> or <a href="{{path('app_home')}}">Back to website</a></p>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}